<div class="dashboard-container">
  <h2>Bem-vindo, {{ userName }}! </h2>
  <div class="card-container">
    <div class="card">
      <h3>Meus Planos</h3>
      <p>Visualize seus planos de treino e histórico de assinaturas.</p>
      <button>Ver Planos</button>
    </div>

    <div class="card">
      <h3>Configurações</h3>
      <p>Gerencie seus dados pessoais e preferências de conta.</p>
      <button>Configurações</button>
    </div>

    <div class="card">
      <h3>Atividades</h3>
      <p>Acompanhe suas atividades recentes na academia.</p>
      <button>Ver Atividades</button>
    </div>
  </div>
</div>
